<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Натяжные потолки</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'logo1.png' %}" alt="Логотип компании ПОТОЛОК.PRO" width="110" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Натяжные потолки в Екатеринбурге</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Отзывы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <div class="b-example-divider"></div>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; ПОТОЛОК.PRO</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="nav-item">
          <a href="https://vk.com/club222748071" class="navbar-brand" target="_blank" title="Наше сообщество в VK">
            <img src="{% static 'vk.png' %}" alt="Группа в VK" width="30" height="30" crossorigin="anonymous">
          </a>
        </li>
      </ul>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
